<h1>Criar Conta</h1>

<%= form_with model: @user, url: register_path, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :first_name, "Nome" %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :last_name, "Sobrenome" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <%= f.submit "Criar Conta", class: "btn btn-primary" %>
<% end %>
