<%= form_with model: [:admin, @user], local: true do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4>Erros:</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :first_name, "Nome" %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :last_name, "Sobrenome" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
  </div>

  <div class="mb-3">
    <%= f.label :role, "Perfil" %>
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :status %>
    <%= f.select :status, [["Ativo", "active"], ["Inativo", "inactive"]], {}, class: "form-select" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>